// Find here all variables

$text-color-dark: #393D3F;
$text-color-white: #FFFFFF;

$color-1: #F97F9C;
$color-2: #FC9E4F;
$color-3: #93E7D3;
$color-4: #B9D8FD;
$color-5: #AC85FE;

$gradient : linear-gradient(90deg, rgba(0, 53, 240, 0.59) -2.71%, rgba(177, 79, 255, 0.59) 102.71%);

$instagram : #C32AA3;
$linkedin : #007BB5;
$website : #AC85FE;
$twitter : #1DA1F2;
$youtube : #FF0000;