// Find here all variables

$text-color-dark: #393D3F;
$text-color-white: #FFFFFF;

$color-1: #F97F9C;
$color-2: #FFEE55;
$color-3: #93E7D3;
$color-4: #B9D8FD;
$color-5: #AC85FE;

$gradient : linear-gradient(90deg, rgba(0, 53, 240, 0.59) -2.71%, rgba(177, 79, 255, 0.59) 102.71%);

$instagram : linear-gradient(180deg, #C32AA3 0%, #F46F30 54.69%, #FFDC7D 100%);
$linkedin : #007BB5;
$website : #AC85FE;
$twitter : #1DA1F2;
$youtube : #FF0000;